/*global*/
:root{
    --dark:#07070A; 
    --blue:#0A1128;
    --lightblue:#006FE6;
    --light:#FEFCFB;
    --titulos:'baloo 2', cursive;
    --parrafos:'montserrat', sans-serif;
}

html{
    box-sizing: border-box; 
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

*,*::before, *::after{
    box-sizing:inherit;
}

h1, h2, h3{
    font-family: var(--titulos);
}

p,a{
    font-family: var(--parrafos);
}

.hide{
    display:none;
}

@keyframes move{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(0%);
    }
}


/*header*/
.header{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    height:100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.header::before{
    content:'';
    position:absolute;
}

.logo{
    display: flex;
    align-items: center;
    
}

.logobc{
    width:4rem;
    padding-bottom: 0.5rem;
}
.logo h2{
    font-size: 3rem;
}

.logo h2 span{
    color: var(--lightblue);
}

.navcont{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.45);
}

.navbar{
    position: absolute;
    left: 0;
    top: 70px;
    width:100%;
    background-color: var(--light);
    animation: move .5s ease-in-out;
}


.navbar a{
    display: block;
    font-size: 2rem;
    padding:1.1rem;
    color: var(--dark);
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}

.navbar a:hover{
    background-color: var(--lightblue);
    color: var(--light);
}

.burguer span{
    width:5rem;
    height:1rem;
    border: 3px solid var(--light);
    background-color: var(--dark);
    display: block;
}

/*media querys*/
@media(min-width: 768px){
    .burguer{
        display:none;
    }

    .hide{
        display: inline;
    }

    .navbar a{
        display: inline;        
    }
    
    .navbar{
        position:relative;
        top: unset;
        width: auto;
        background-color: unset;
        animation: unset;
    }
}

