/*global*/
:root{
    --dark:#07070A; 
    --blue:#0A1128;
    --lightblue:#006FE6;
    --light:#FEFCFB;
    --titulos:'baloo 2', cursive;
    --parrafos:'montserrat', sans-serif;
}

html{
    box-sizing: border-box; 
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

*,*::before, *::after{
    box-sizing:inherit;
}

h1, h2, h3{
    font-family: var(--titulos);
}

p,a{
    font-family: var(--parrafos);
}

.hide{
    display:none;

}

/*header*/
.header{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    height:100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
}

.logo h2{
    font-size: 3rem;
}

.logo h2 span{
    color: var(--lightblue);
}

.navcont{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.45);
}

.burguer span{
    width:5rem;
    height:1rem;
    border: 3px solid var(--light);
    background-color: var(--dark);
    display: block;
}

